[user]
    name  = Zac Pyle
    email = zpyle8687@sdsu.edu

[alias]
    com  = commit
    di   = diff
    st   = status
    stat = status

[push]
    default = simple

[commit]
    template = ~/.gittemplate

[init]
    defaultBranch = main

[core]
   editor = vim
